@font-face {
    font-family: 'theseasons-bd';
    src: url(./assets/fonts/TheSeasons/Bold.woff2);
}
@font-face {
    font-family: 'theseasons-reg';
    src: url(./assets/fonts/TheSeasons/Regular.woff2);
}
@font-face {
    font-family: 'titilliumweb-smbd';
    src: url(./assets/fonts/TitilliumWeb/Semibold.woff2);
}
@font-face {
    font-family: 'titilliumweb-reg';
    src: url(./assets/fonts/TitilliumWeb/Regular.woff2);
}
@font-face {
    font-family: 'inter-reg';
    src: url(./assets/fonts/Inter/Regular.woff2);
}
@import "tailwindcss";
:root{
    --header-height: 5rem;
    color: #f5f5f5;
    font-family: 'inter-reg', 'sans-serif';
    background-image: repeating-linear-gradient(315deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),
    repeating-linear-gradient(270deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),
    repeating-linear-gradient(405deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),
    repeating-linear-gradient(360deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),
    linear-gradient(360deg, rgb(17, 17, 17),rgb(83,0,0));
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 6px;
  background: linear-gradient(0deg, #222, #b11310 ,#222);
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  width: 100%;
  background-color: #f9c000;
}
h1{
    font-family: 'theseasons-bd';
  & span {
   background-size:  100% 15%;
   background-repeat: repeat-x;
   background-position: left 0% bottom 10%;
  }
}
.tapered {
  background-image: linear-gradient(179deg,#b11310 0%, #e01b18 50%,transparent 54%, transparent 100%);
}

strong{
    font-family: 'titilliumweb-reg';
    color: #fff4aa;
    font-weight: 300;
}
section{
    scroll-margin: 4rem;
}

 
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
  background-color: #ff7b7b;
}

#checkbox:checked ~ .link-container .hamburger .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked ~ .link-container .hamburger .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked ~ .link-container .hamburger .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked ~ .link-container .hamburger .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked ~ .link-container .hamburger .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}
#checkbox:checked ~ .navbar{ display: flex !important; }